# Downloaded model files
object_detection/

# Kagglehub model cache
.kaggle/
kagglehub/
**/models--tensorflow--ssd-mobilenet-v2/

# Places365 model and categories
whole_resnet18_places365_python36.pth.tar
categories_places365.txt

# YOLOv8 models
models/research/object_detection/yolov8s_oiv7/
*.pt
